[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bbpb = "*"
#blackboxprotobuf = "*"
certifi = "*"
charset-normalizer = "*"
idna = "*"
mintotp = "*"
protobuf = ">=5.29.6"
pycryptodomex = "*"
requests = "*"
six = "*"
urllib3 = "*"

[dev-packages]
flake8 = "*"
isort = "*"
sphinx = "*"
pytest = "*"

[requires]
python_version = ">=3.12"
