[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blackboxprotobuf = "*"
certifi = "*"
charset-normalizer = "*"
idna = "*"
mintotp = "*"
protobuf = "*"
pycryptodomex = "*"
requests = "*"
six = "*"
urllib3 = "*"

[dev-packages]
flake8 = "*"
isort = "*"
sphinx = "*"
pytest = "*"

[requires]
python_version = "3.14"
